<%- model_class = Venue -%>
<div class="page-header">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6">
        <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>    
      </div>
      
      <div class="col-md-6">
        <h1><%= link_to t('.new', :default => t("helpers.links.new")),
            new_venue_path,
            :class => 'btn btn-primary pull-right' %></h1>
      </div>

    </div>

  </div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>S/N</th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:state_id) %></th>
        <th><%= model_class.human_attribute_name(:phone) %></th>
        <th><%= model_class.human_attribute_name(:capacity) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @venues.each_with_index do |venue, index| %>
        <tr>
          <td><%= index+1  %></td>
          <td><%= venue.name %></td>
          <td><%= "#{venue.state.state} State" %></td>
          <td><%= venue.phone %></td>
          <td><%= venue.capacity %></td>
          <td><%= venue.created_at.strftime("%B %d, %Y") %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        venue_path(venue), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_venue_path(venue), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        venue_path(venue),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>